@model EntertainmentAgency.Models.Design

<div class="text-center">

    @if (Model != null)
    {
    <div class="text-center">
        <img src=@Model.Img class="rounded">
        <p>$ @Model.Price</p>

    </div>

    }
    else
    {
        <h1>Not choose design!!!</h1>
    }
</div>