@model EntertainmentAgency.Models.Design

<div class="text-center">

    @if (Model != null)
    {
        <img src=@Model.Img class="rounded" />
        <p>$ @Model.Price</p>

    }
    else
    {
        <h1>Not choose design!!!</h1>
    }
</div>