@model List<EntertainmentAgency.Models.TypeOfEntertainment>


@if (Model != null)
{
    <div id="mainDiv">

    </div>

    <div style="width: 900px; height: 500px">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                @for (int i = 1; i < Model.Count; i++)
                {
                    <li data-target="#carouselExampleIndicators" data-slide-to=@i></li>
                }
            </ol>
            <div class="carousel-inner">
                @for (int i = 0; i < Model.Count; i++)
                {
                    if (i == 0)
                    {
                    <div class="carousel-item active" id="loadPartialView" onclick="TypeClick(@Model[i].Id)">
                        <img class="d-block w-100" style="width: 900px; height: 500px" src=@Model[i].Img alt=@Model[i].Type>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>@Model[i].Type</h5>
                        </div>
                    </div>
                    }
                    else
                    {
                        <div class="carousel-item" onclick="TypeClick(@Model[i].Id)">
                            <img class="d-block w-100" style="width: 900px; height: 500px" src=@Model[i].Img alt=@Model[i].Type>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@Model[i].Type</h5>
                            </div>
                        </div>
                    }
                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <script>$('.carousel').carousel()</script>
}
else
{
    <h4>Empty list</h4>
}

<script>
    function TypeClick(myid) {
        $("#DesignIdButton").removeAttr("disabled");   
        $("#MenuIdButton").removeAttr("disabled");   
        $("#CompetitionIdButton").removeAttr("disabled");   
        $.ajax({
            url: "/Order/_PartialDesignView",
            dataType: "html",
            data: { id: myid },
            success: function (result) {
                $('#mainDiv').html(result);
            }
        });
    }
</script>