@model List<EntertainmentAgency.Models.Competition>

@if (Model != null)
{
    <div class="container">
        <div class="row">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="card  col-sm-12 col-md-4" style="width: 18rem;">
                    <div class="card-body ">
                        <h5 class="card-title">@Model[i].Name</h5>
                        <p class="card-text">@Model[i].About</p>
                        <button onclick="AddCompetition(@Model[i].Id)" class="btn btn-success">Add</button>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>Empty list</p>
}

<script>
    function AddCompetition(myid) {
        $.ajax({
            url: "/Order/AddCompetition",
            method: "post",
            dataType: "html",
            data: { Id: myid },
            success: function (result) {
                alert("Added");
            }
        });
    }
</script>