@model List<EntertainmentAgency.Models.Competition>

@if (Model != null)
{
    <div class="container">
        <div class="row">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="card  col-sm-12 col-md-4" style="width: 18rem;">
                    <div class="card-body ">
                        <h5 class="card-title">@Model[i].Name</h5>
                        <p class="card-text">@Model[i].About</p>
                        @*@if (Model[i].user.Count > 0)
                            {
                                Html.DropDownList("StudentGender",
                                          new SelectList(Model[i].user),
                                          "Select Gender",
                                          new { @class = "form-control" });
                            }
                            else
                            {
                                <p>User Model is empty</p>
                            }*@
                        <a href="#" class="card-link">Add</a>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>Empty list</p>
}