
@{
    ViewBag.Title = "Index";
}
<style>
    body{
        background-size:cover;
    }

    </style>
<h2>Create your order</h2>
<div class="text-right">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-1">
                <button id="TypeIdButton">Type</button>
            </div>
            <div class="col-1">
                <button id="DesignIdButton" disabled>Design</button>
            </div>
            <div class="col-1">
                <button id="MenuIdButton" disabled>Menu</button>
            </div>
            <div class="col-1">
                <button id="CompetitionIdButton" disabled>Competition</button>
            </div>
        </div>
    </div>

    <div id="mainDiv" class="justify-content-end">
        @Html.Action("_PartialTypesView", "Order")
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/jquery")
    <script>
        $(document).ready(function () {
            $("#DesignIdButton").click(function () {
                $.ajax({
                    url: "/Order/_PartialDesignView",
                    dataType: "html",
  
                    success: function (result) {
                        $('#mainDiv').html(result);
                    }
                });
            });
            $("#TypeIdButton").click(function () {
                alert("All your actions will delete");
                $("#DesignIdButton").attr("disabled", "disabled");
                $("#MenuIdButton").attr("disabled", "disabled");
                $("#CompetitionIdButton").attr("disabled", "disabled");
                $.ajax({
                    url: "/Order/_PartialTypesView",
                    dataType: "html",

                    success: function (result) {
                        $('#mainDiv').html(result);
                    }
                });
            });
            $("#MenuIdButton").click(function () {
                $.ajax({
                    url: "/Order/_PartialMenuView",
                    dataType: "html",

                    success: function (result) {
                        $('#mainDiv').html(result);
                    }
                });
            });
            $("#CompetitionIdButton").click(function () {
                $.ajax({
                    url: "/Order/_PartialCompetitionView",
                    dataType: "html",

                    success: function (result) {
                        $('#mainDiv').html(result);
                    }
                });
            });
        });
    </script>
}