@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .bt {
        width: 155px;
    }
</style>
<input type="hidden" id="currentIndex" value="0">

<h2>@ViewBag.Order</h2>
<div class="row">
    <div class="text-right">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-2">
                    <button class="id-btn button glass blue-a bt" onclick="Func1()" id="TypeIdButton">Type</button>
                </div>
                <div class="col-2">
                    <button class="id-btn button glass blue-a bt" onclick="Func2()" id="DesignIdButton">Design</button>
                </div>
                <div class="col-2">
                    <button class="id-btn button glass blue-a bt" onclick="Func3()" id="MenuIdButton">Menu</button>
                </div>
                <div class="col-2">
                    <button class="id-btn button glass blue-a bt" onclick="Func4()" id="CompetitionIdButton">Competition</button>
                </div>
                <div class="col-2">
                    <a class="btn btn-success" href="/ShowOrder/Index">Show Price List</a>
                </div>
            </div>
        </div>
    </div>

    <div id="mainDiv" class="justify-content-end">

        @Html.Action("_PartialTypesView", "Order", new { index = 0 })
    </div>


</div>



    @Scripts.Render("~/bundles/jquery")
<script>
    function Func3() {
        $.ajax({
            url: "/Order/_PartialMenuView",
            dataType: "html",
            success: function (result) {
                $('#mainDiv').html(result);
            }
        });
    }
    function Func4() {
        $.ajax({
            url: "/Order/_PartialCompetitionView",
            dataType: "html",
            success: function (result) {
                $('#mainDiv').html(result);
            }
        });
    }
    function Func1() {
        $.ajax({
            url: "/Order/_PartialTypesView",
            dataType: "html",
            success: function (result) {
                $('#mainDiv').html(result);
            }
        });
    }
    function Func2() {
        $.ajax({
            url: "/Order/_PartialDesignView",
            dataType: "html",
            success: function (result) {
                $('#mainDiv').html(result);
            }
        });
    }


    //$("#MenuIdButton").click(function () {
    //    $.ajax({
    //        url: "/Order/_PartialMenuView",
    //        dataType: "html",
    //        success: function (result) {
    //            $('#mainDiv').html(result);
    //        }
    //    });



                //$(".id-btn").click(function () {

                //    let curIndex = $("#currentIndex").val();


                //     var str = "/Order/" + this.id;
                //$.ajax({
                //    url: str,
                //    data: {"index": curIndex},
                //    dataType: "html",
                //    success: function (result) {
                //        $('#mainDiv').html(result);

                //        }
                //     });
                // });



</script>
