@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Order</h2>
<div class="row">
    <div class="text-right">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-1">
                    <button class="id-btn" id="_PartialTypesView">Type</button>
                </div>
                <div class="col-1">
                    <button class="id-btn" id="_PartialDesignView">Design</button>
                </div>
                <div class="col-1">
                    <button class="id-btn" id="_PartialMenuView">Menu</button>
                </div>
                <div class="col-1">
                    <button class="id-btn" id="_PartialCompetitionView">Competition</button>
                </div>
                <div class="col-1">
                    <a class="btn btn-success" href="/ShowOrder/Index">Show Price List</a>
                </div>
            </div>
        </div>
    </div>

    <div id="mainDiv" class="justify-content-end">
        @Html.Action("_PartialTypesView", "Order")
    </div>


</div>


@section scripts{
    @Scripts.Render("~/bundles/jquery")
    <script>

        $(document).ready(function () {
            @ViewBag.index=0
           

            $(".id-btn").click(function () {
                var str = "/Order/" + this.id;
                $.ajax({
                    url: str,
                    dataType: "html",
                    success: function (result) {
                        $('#mainDiv').html(result);
                    }
                });
            });


        });
       
    </script>
}