
    <style>
        .crs-slide {
            height: 500px;
        }

            .crs-slide:hover {
                background-color: transparent;

            }
           
    body {
        background-size: cover;
    }
</style>


    
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active crs-slide">
                <img class="d-block w-100" src="https://www.wedgewoodweddings.com/sites/default/files/2017-11/01-Wedgewood-Weddings-Tower-Club-Beach-Wedding_72dpi.jpg" alt="First slide">
            </div>
            <div class="carousel-item crs-slide">
                <img class="d-block w-100" src="https://d1kjm29x4mml1x.cloudfront.net/blog/wp-content/uploads/2016/08/5BirthdayVidIdeas_Facebook_v2-582x437.png" alt="Second slide">
            </div>
            <div class="carousel-item crs-slide">
                <img class="d-block w-100" src="https://www.funktionevents.co.uk/images/pictures/new/1-homepage-images/corporate-events-(banner-medium).jpg?v=0a7c84de" alt="Third slide">
            </div>
           
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
<script> $('.carousel').carousel();</script>