@model List<EntertainmentAgency.Models.TypeOfEntertainment>

<style>
    body {
        background-size: cover;
    }
    .row {
        height: 40% !important;
        display: flex;
    }
    img{
        max-height: 200px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-7">
            <img src="../Images/1011884.jpg" />
        </div>
        <div class="col-5">
            <img src="../Images/forograf.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="col-5"><img src="../Images/madmenbirthdayparty.jpg"></div>
        <div class="col-7"><img src="../Images/wedding.jpg"></div>
    </div>
    <div class="row">
        <div class="col-7"> <img src="../Images/getty.jpg"></div>
        <div class="col-5"> <img src="../Images/Birthday.png"></div>
    </div>
</div>

