@model List<EntertainmentAgency.Models.Design>

<style>
    body {
        background-size: cover;
    }

    .row {
        height: 40% !important;
        display: flex;
    }

    img {
        max-height: 200px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-7">
            <img src="../Images/1011884.jpg" />
        </div>
        <div class="col-5">
            <img src="../Images/forograf.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="col-5"><img src="https://weddingthemes.pro/wp-content/uploads/2018/07/284-best-holy-matrimony-images-on-pinterest-wedding-aisles-intended-for-newest-pictures-for-church-wedding-aisle-decorations.jpg"></div>
        <div class="col-7"><img src="http://bookmarkscript.info/wp-content/uploads/2018/07/new-year-house-decoration-download-luxurious-sofa-in-a-new-years-interior-with-a-tree-decorated-with-this-years-white-house-decorations.jpg"></div>
    </div>
    <div class="row">
        <div class="col-7"> <img src="../Images/getty.jpg"></div>
        <div class="col-5"> <img src="https://images-na.ssl-images-amazon.com/images/I/61j-tSPILEL.jpg"></div>
    </div>
</div>

