@model List<EntertainmentAgency.Models.Competition>

<style>
    body {
        background-size: cover;
    }
</style>

@if (Model != null)
{
    <div class="container">
        <div class="row">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="col-4 text-center border border-secondary rounded ">
                    <div>
                        <strong> @Html.DisplayFor(elem => elem[i].Name) </strong>
                    </div>

                    <div>
                        <div>
                            @if (Model[i].typeOfEntertainment != null)
                            {
                                @Html.DisplayFor(elem => elem[i].typeOfEntertainment.Type)
                            }
                            else
                            {
                                <p>Unknow type of entertainment</p>
                            }
                        </div>
                        <div>
                            @Html.Label("$ ")
                            @Html.DisplayFor(elem => elem[i].Price)
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
}
else
{
    <p>Empty!!!</p>
}

