@model List<EntertainmentAgency.Models.Design>

<style>
    body {
        background-size: cover;
    }
</style>

@if (Model != null)
{
    <div class="container">
        <div class="row">
           
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="col-4 text-center border border-info rounded">
                    <div>
                        <div>
                            <img src=@Model[i].Img width="100px" height="100px" alt="Image here" />
                        </div>
                        @*<div>
                            @if (Model[i].typeOfEntertainment != null)
                            {
                                @Html.DisplayFor(elem => elem[i].typeOfEntertainment.Type)
                            }
                            else
                            {
                                <p>Unknow type of entertainment</p>
                            }
                        </div>*@
                        <div>
                            @Html.Label("$ ")
                            @Html.DisplayFor(elem => elem[i].Price)
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
}
else
{
    <p>Empty!!!</p>
}
