@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <style>
        .btn1 {
            margin-top: 20%;
            margin-left: 37%;
            border: 2px solid rgb(224, 230, 228);
            color: rgb(0, 37, 68);
            font-family: 'Dandeleon Vintage Demo';
            font-size: 50px;
            box-shadow: -10px -15px 30px rgb(255, 255, 255), 10px -15px 30px rgb(255, 255, 255);
            border-radius: 35px;
        }
        
            .btn1:hover {
                background-color: rgb(0, 37, 68);
                border-color: rgb(224, 230, 228);
            }
        .text1 {
            font-family: 'Dandeleon Vintage Demo';
            font-size: 80px;
            color: rgb(0, 37, 68);
            text-shadow: 1px 1px 2px black, 0 0 20px white;
        }
        body {
            background-size: cover;
            background-image: url("../Images/photo-1439694458393-78ecf14da7f9.jpg");
        }
    </style>

    <div class="row">
        <div class="offset-1">
            </div>
        <div class="col-10 text1">
            <center>Company that creates your impressions</center>
            </div>
        </div>

    <button type="button" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" class="btn btn-outline-primary btn1">Start Work</button>


</div>




