
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body style="background: url(https://wiki.star-conflict.ru/uploads/%D0%98%D1%80%D0%B8%D0%B4%D0%B8%D0%B5%D0%B2%D1%8B%D0%B9_%D0%BF%D0%BE%D1%82%D0%BE%D0%BA%28%D1%84%D0%BE%D0%BD%29.jpg)">
    <div>
    
    </div>
</body>
</html>
